//Userlist
* {font-family: sans-serif;font-size: 1em}
body {
	background-color: #383c4c;
}
h2 {
	color: #56C683;
	font-size: 1.3em;
}
.userlist {
	margin: 5% auto;
	width: 400px;
	.users {
		margin: 0 auto;
	}
}
ul {
	display: block;
	max-width: 300px;
	border: 1px solid black;
	border-bottom: 0px;
	padding: 0px;
	font-size: 1.1em;
	li {
		list-style: none;
		padding: 10px;
		border-bottom: 1px solid black;
	}
	.default {
		color:#AFAFAF;
		&:before {
			margin-right: 4px;
			content: "\2666"
		}
	}
	.mod {
		color:#F04848;
		&:before {
			margin-right: 4px;
			content: "\2665"
		}
	}
	.admin {
		color: #40BADD;
		&:before {
			margin-right: 4px;
			content: "\2663"
		}
	}
	.owner {
		color: #49D259;
		&:before {
			margin-right: 4px;
			content: "\2660"
		}
	}
}
